<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
</head>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 公告管理</strong></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" th:href="@{/announce/goto_addAnnounce}"> 添加公告</a></li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="120">序号</th>
                <th>公告名</th>
                <th width="25%">公告内容</th>
                <th width="120">公告时间</th>
                <th>操作</th>
            </tr>

                <tr th:each="announce,announceStat:${announces}">
                    <td>[[${announceStat.index+1 }]]</td>
                    <td align="center">[[${announce.anno_name }]]</td>
                    <td align="center">[[${announce.anno_content }]]</td>
                    <td align="center">[[${announce.anno_data }]]</td>
                    <td>
                        <div class="button-group">
                            <a class="button border-main"
                               th:href="@{/announce/findById(anno_id=${announce.anno_id})}">
                                <span class="icon-edit"></span> 查看</a>

                            <a class="button border-main"
                               th:href="@{/announce/findById2(anno_id=${announce.anno_id})}">
                                <span class="icon-edit"></span> 修改</a>

                            <a class="button border-red" th:onclick="del([[${announce.anno_id}]]);">
                                <span class="icon-trash-o"></span> 删除</a>
                        </div>
                    </td>

                </tr>

            <tr>
                <td colspan="8">
                    <div class="pagelist">
                        <a th:if="${pageInfo.isFirstPage==false}" th:href="@{/announce/findAnnounce(pageNum=1)}">首页</a>
                        <a th:if="${pageInfo.isFirstPage==true}" href="#">首页</a>

                        <a th:if="${pageInfo.isFirstPage==false}" th:href="@{/announce/findAnnounce(pageNum=${pageInfo.pageNum-1})}">上一页</a>
                        <a th:if="${pageInfo.isFirstPage==true}" href="#">上一页</a>

                        <!--页码遍历-->
                        <th:block th:each="i :${#numbers.sequence(1, pageInfo.pages)}">
                            <a th:href="@{/announce/findAnnounce(pageNum=${i})}">
                                <!--当前页样式为on-->
                                <span th:class="${pageInfo.pageNum == i}? 'on' :''">
                                    <th:block th:text="${i}"></th:block>
                                </span>
                            </a>
                        </th:block>

                        <a th:if="${pageInfo.isLastPage==false}" th:href="@{/announce/findAnnounce(pageNum=${pageInfo.pageNum+1})}">下一页</a>
                        <a th:if="${pageInfo.isLastPage==true}" href="#">下一页</a>

                        <a th:if="${pageInfo.isLastPage==false}" th:href="@{/announce/findAnnounce(pageNum=${pageInfo.pages})}">尾页</a>
                        <a th:if="${pageInfo.isLastPage==true}" href="#">尾页</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
<script type="text/javascript">

    function del(anno_id){
        if(confirm("您确定要删除吗?")){
            alert("删除成功！");
            window.location.href = "/announce/deleteAnnounce?anno_id=" + anno_id;
        }else {
            alert("删除失败");
            window.location.reload();
        }
    }

    $("#checkall").click(function(){
        $("input[name='id[]']").each(function(){
            if (this.checked) {
                this.checked = false;
            }
            else {
                this.checked = true;
            }
        });
    })

    function DelSelect(){
        var Checkbox=false;
        $("input[name='id[]']").each(function(){
            if (this.checked==true) {
                Checkbox=true;
            }
        });
        if (Checkbox){
            var t=confirm("您确认要删除选中的内容吗？");
            if (t==false) return false;
        }
        else{
            alert("请选择您要删除的内容!");
            return false;
        }
    }

</script>
</body></html>