<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>缺勤信息</title>
    <link rel="stylesheet" th:href="@{/css/pintuer.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/pintuer.js}"></script>
    <script>
        function del(ab_id){
            if(confirm("您确定要删除吗?")){
                alert("删除成功！");
                window.location.href = "/absence/deleteAbsence?ab_id=" + ab_id;
            }else {
                alert("删除失败");
                window.location.reload();
            }
        }
    </script>
</head>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 缺勤信息</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-main icon-plus-square-o" th:href="@{/absence/goto_addAbsence}"> 添加缺勤记录</a> </li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="100" style="text-align:left; padding-left:20px;">序号</th>
                <th width="10%">学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>班级</th>
                <th>宿舍号</th>
                <th>缺勤时间</th>
                <th>记录人</th>
                <th>操作</th>
            </tr>
                <tr th:each="absence,absenceStat:${absences}">
                    <td>[[${absenceStat.index+1}]]</td>
                    <td>[[${absence.st_sno}]]</td>
                    <td>[[${absence.st_name}]]</td>
                    <td th:text="${absence.st_sex} == 1 ? '男':'女'"></td>
                    <td>[[${absence.st_class}]]</td>
                    <td>[[${absence.house_num}]]</td>
                    <td>[[${absence.ab_time}]]</td>
                    <td>[[${absence.wr_person}]]</td>
                    <td>
                        <div class="button-group"><a class="button border-main" th:href="@{/absence/findBySno(st_sno=${absence.st_sno})}"><span
                                class="icon-edit"></span> 修改</a>
                            <a class="button border-red" th:onclick="del([[${absence.ab_id}]]);">
                                <span class="icon-trash-o"></span> 删除</a></div>
                    </td>
                </tr>
            <tr>
                <td colspan="9">
                    <div class="pagelist">
                        <a th:if="${pageInfo.isFirstPage==false}" th:href="@{/absence/findAbsence(pageNum=1)}">首页</a>
                        <a th:if="${pageInfo.isFirstPage==true}" href="#">首页</a>

                        <a th:if="${pageInfo.isFirstPage==false}" th:href="@{/absence/findAbsence(pageNum=${pageInfo.pageNum-1})}">上一页</a>
                        <a th:if="${pageInfo.isFirstPage==true}" href="#">上一页</a>

                        <!--页码遍历-->
                        <th:block th:each="i :${#numbers.sequence(1, pageInfo.pages)}">
                            <a th:href="@{/absence/findAbsence(pageNum=${i})}">
                                <!--当前页样式为on-->
                                <span th:class="${pageInfo.pageNum == i}? 'on' :''">
                                    <th:block th:text="${i}"></th:block>
                                </span>
                            </a>
                        </th:block>

                        <a th:if="${pageInfo.isLastPage==false}" th:href="@{/absence/findAbsence(pageNum=${pageInfo.pageNum+1})}">下一页</a>
                        <a th:if="${pageInfo.isLastPage==true}" href="#">下一页</a>

                        <a th:if="${pageInfo.isLastPage==false}" th:href="@{/absence/findAbsence(pageNum=${pageInfo.pages})}">尾页</a>
                        <a th:if="${pageInfo.isLastPage==true}" href="#">尾页</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>